* {
  font-family: "Cascadia Code";
  font-size: 18;
  border: none;
  border-radius: 10px;
  outline: none;
}

window {
    margin: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--color1);
}

#input {
    margin: 10px;
}

#inner-box {
    margin: 10px;
}

#outer-box {
    margin: 10px;
}

#scroll {
    margin: 10px;
}

#text {
    margin: 5px;
}
